.cpc{
    width:250px;
    height:35px;
  }
  .heading{
    font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  .code{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
  }